<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.executionframework.event.implementationrelationship">
      <implementation_relationship
            class="org.imt.pssm.reactive.relationships.InterpretedStateMachinesImplementationRelationship"
            id="org.imt.pssm.reactive.relationships.implementation_relationship"
            name="InterpretedStateMachinesImplementationRelationship"/>
   </extension>
</plugin>

