<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.executionframework.event.implementationrelationship">
      <implementation_relationship
            class="org.imt.arduino.reactive.relationships.ArduinoImplementationRelationship"
            id="org.imt.arduino.relationships.implementation_relationship"
            name="ArduinoImplementationRelationship"/>
   </extension>
</plugin>

